# LX2160A Twins Rules
PROGRAM=="/bin/sh -c 'grep -Fq solidrun,twins-left /sys/firmware/devicetree/base/compatible 2>/dev/null'", GOTO="lx2160a_clearfog_twins_start"
PROGRAM=="/bin/sh -c 'grep -Fq solidrun,twins-right /sys/firmware/devicetree/base/compatible 2>/dev/null'", GOTO="lx2160a_clearfog_twins_start"
PROGRAM=="/bin/sh -c 'grep -Fq solidrun,twins-single /sys/firmware/devicetree/base/compatible 2>/dev/null'", GOTO="lx2160a_clearfog_half_twins_start"
GOTO="lx2160a_clearfog_twins_end"

# SFP Connector LED Configuration:
# Linux sets netdev trigger automatically from device-tree, but not the actual netdev source device (netdev name) and function.
# Configure leds for showing link-status and match netdev names based on dpmac node.
LABEL="lx2160a_clearfog_half_twins_start"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@5", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-1/device_name && echo 1 > /sys/class/leds/green:lan-1/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@f", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-2/device_name && echo 1 > /sys/class/leds/green:lan-2/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@6", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-3/device_name && echo 1 > /sys/class/leds/green:lan-3/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@b", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-4/device_name && echo 1 > /sys/class/leds/green:lan-4/link'"

LABEL="lx2160a_clearfog_twins_start"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@3", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-11/device_name && echo 1 > /sys/class/leds/green:lan-11/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@4", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-9/device_name && echo 1 > /sys/class/leds/green:lan-9/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@7", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-15/device_name && echo 1 > /sys/class/leds/green:lan-15/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@8", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-13/device_name && echo 1 > /sys/class/leds/green:lan-13/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@9", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-19/device_name && echo 1 > /sys/class/leds/green:lan-19/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@a", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-17/device_name && echo 1 > /sys/class/leds/green:lan-17/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@c", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-12/device_name && echo 1 > /sys/class/leds/green:lan-12/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@d", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-20/device_name && echo 1 > /sys/class/leds/green:lan-20/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@e", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-18/device_name && echo 1 > /sys/class/leds/green:lan-18/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@10", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-14/device_name && echo 1 > /sys/class/leds/green:lan-14/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@11", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-10/device_name && echo 1 > /sys/class/leds/green:lan-10/link'"
SUBSYSTEM=="net", ACTION=="add|change", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@12", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/green:lan-16/device_name && echo 1 > /sys/class/leds/green:lan-16/link'"
LABEL="lx2160a_clearfog_twins_end"
