# LX2160A Twins Rules
PROGRAM!="/bin/sh -c 'grep -Fq solidrun,clearfog-twins /sys/firmware/devicetree/base/compatible 2>/dev/null'", GOTO="lx2160a_clearfog_twins_end"
# SFP Connector LED Configuration:
# Linux sets netdev trigger automatically from device-tree, but not the actual netdev source device (netdev name) and function.
# Configure leds for showing link-status and match netdev names based on dpmac node.
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@3", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-at/device_name && echo 1 > /sys/class/leds/led-c1-at/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@4", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-bt/device_name && echo 1 > /sys/class/leds/led-c1-bt/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@5", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-bt/device_name && echo 1 > /sys/class/leds/led-ht-c3-bt/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@6", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-at/device_name && echo 1 > /sys/class/leds/led-ht-c3-at/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@7", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-at/device_name && echo 1 > /sys/class/leds/led-c2-at/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@8", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-bt/device_name && echo 1 > /sys/class/leds/led-c2-bt/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@9", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-at/device_name && echo 1 > /sys/class/leds/led-c3-at/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@a", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-bt/device_name && echo 1 > /sys/class/leds/led-c3-bt/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@b", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-ab/device_name && echo 1 > /sys/class/leds/led-ht-c3-ab/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@c", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-ab/device_name && echo 1 > /sys/class/leds/led-c1-ab/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@d", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-ab/device_name && echo 1 > /sys/class/leds/led-c3-ab/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@e", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-bb/device_name && echo 1 > /sys/class/leds/led-c3-bb/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@f", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-bb/device_name && echo 1 > /sys/class/leds/led-ht-c3-bb/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@10", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-bb/device_name && echo 1 > /sys/class/leds/led-c2-bb/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@11", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-bb/device_name && echo 1 > /sys/class/leds/led-c1-bb/link'"
SUBSYSTEM=="net", ACTION=="add", ENV{OF_FULLNAME}=="/soc/fsl-mc@80c000000/dpmacs/ethernet@12", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-ab/device_name && echo 1 > /sys/class/leds/led-c2-ab/link'"

KERNELS=="dpmac.3", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-at/device_name && echo 1 > /sys/class/leds/led-c1-at/link'"
KERNELS=="dpmac.4", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-bt/device_name && echo 1 > /sys/class/leds/led-c1-bt/link'"
KERNELS=="dpmac.5", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-bt/device_name && echo 1 > /sys/class/leds/led-ht-c3-bt/link'"
KERNELS=="dpmac.6", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-at/device_name && echo 1 > /sys/class/leds/led-ht-c3-at/link'"
KERNELS=="dpmac.7", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-at/device_name && echo 1 > /sys/class/leds/led-c2-at/link'"
KERNELS=="dpmac.8", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-bt/device_name && echo 1 > /sys/class/leds/led-c2-bt/link'"
KERNELS=="dpmac.9", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-at/device_name && echo 1 > /sys/class/leds/led-c3-at/link'"
KERNELS=="dpmac.10", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-bt/device_name && echo 1 > /sys/class/leds/led-c3-bt/link'"
KERNELS=="dpmac.11", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-ab/device_name && echo 1 > /sys/class/leds/led-ht-c3-ab/link'"
KERNELS=="dpmac.12", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-ab/device_name && echo 1 > /sys/class/leds/led-c1-ab/link'"
KERNELS=="dpmac.13", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-ab/device_name && echo 1 > /sys/class/leds/led-c3-ab/link'"
KERNELS=="dpmac.14", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c3-bb/device_name && echo 1 > /sys/class/leds/led-c3-bb/link'"
KERNELS=="dpmac.15", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-ht-c3-bb/device_name && echo 1 > /sys/class/leds/led-ht-c3-bb/link'"
KERNELS=="dpmac.16", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-bb/device_name && echo 1 > /sys/class/leds/led-c2-bb/link'"
KERNELS=="dpmac.17", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c1-bb/device_name && echo 1 > /sys/class/leds/led-c1-bb/link'"
KERNELS=="dpmac.18", ACTION=="add", RUN+="/bin/sh -c 'echo %k > /sys/class/leds/led-c2-ab/device_name && echo 1 > /sys/class/leds/led-c2-ab/link'"
LABEL="lx2160a_clearfog_twins_end"
