# amdgpu
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_AMDGPU_SI=y
CONFIG_DRM_AMDGPU_CIK=y
CONFIG_DRM_AMD_DC_SI=y
CONFIG_DRM_AMD_DC_DCN=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_ZONE_DEVICE=y
CONFIG_DEVICE_PRIVATE=y
CONFIG_HSA_AMD=y
CONFIG_HSA_AMD_SVM=y
CONFIG_DRM_AMD_ACP=y
# lx2160 boards
CONFIG_ADIN_PHY=y
CONFIG_PHY_FSL_LYNX_28G=y
CONFIG_SENSORS_AMC6821=y
CONFIG_SFP=y
