name: build

on:
  push:
    branches: [ "develop-ls-6.6.52-2.2.0" ]
  pull_request:
    branches: [ "develop-ls-6.6.52-2.2.0" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  prepare_container:
    runs-on: self-hosted
    outputs:
      uid: ${{ steps.uid_step.outputs.userid }}
      gid: ${{ steps.uid_step.outputs.groupid }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Get user id/group
        id: uid_step
        run: |
          echo "userid=$(id -u)" >> "$GITHUB_OUTPUT"
          echo "groupid=$(id -g)" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config: /etc/docker/cibuilder.toml

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ciserver.ci:5000
          username: ${{ secrets.CI_CACHE_REGISTRY_LOGIN }}
          password: ${{ secrets.CI_CACHE_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: docker
          push: true
          tags: ciserver.ci:5000/${{ github.repository_id }}:ls-6.6.52-2.2.0
          cache-from: type=registry,ref=ciserver.ci:5000/${{ github.repository_id }}:cache
          cache-to: type=registry,ref=ciserver.ci:5000/${{ github.repository_id }}:cache,mode=max
          build-args: |
            USER_ID=${{ steps.uid_step.outputs.userid }}
            GROUP_ID=${{ steps.uid_step.outputs.groupid }}

  info:
    runs-on: self-hosted
    timeout-minutes: 10
    outputs:
      build_date: ${{ steps.tag_step.outputs.build_date }}
      build_rev: ${{ steps.tag_step.outputs.build_rev }}
      build_tag: ${{ steps.tag_step.outputs.build_date }}-${{ steps.tag_step.outputs.build_rev }}
    steps:
      - name: Checkout pull-request
        uses: actions/checkout@v4

      - name: Get build tag
        shell: bash {0}
        id: tag_step
        run: |
          build_date=$(date +%Y-%m-%d)
          build_rev=$(git rev-parse --short HEAD)
          echo "build_date=$build_date" >> "$GITHUB_OUTPUT"
          echo "build_rev=$build_rev" >> "$GITHUB_OUTPUT"

  build:
    needs:
      - info
      - prepare_container
    runs-on: self-hosted
    timeout-minutes: 1080
    container:
        image: ciserver.ci:5000/${{ github.repository_id }}:ls-6.6.52-2.2.0
        credentials:
            username: ${{ secrets.CI_CACHE_REGISTRY_LOGIN }}
            password: ${{ secrets.CI_CACHE_REGISTRY_PASSWORD }}
        options: --user "${{ needs.prepare_container.outputs.uid }}:${{ needs.prepare_container.outputs.gid }}"
    outputs:
      local_artifacts_path: ${{ steps.store_path.outputs.local_artifacts_path }}
    steps:
      - name: Checkout pull-request version of lx2160a_build
        uses: actions/checkout@v4

      - name: Build
        shell: bash {0}
        run: |
            # lx2160-cex7 honeycomb configurations
            for serdes in 4_5_2 8_5_2 20_5_2; do for ddr in 2400 2600 2900; do for cpu in 1 2; do
            env SHALLOW=true BOOTSOURCE=auto BUS_SPEED=700 CPU_REVISION=$cpu CPU_SPEED=2000 DDR_SPEED=$ddr TARGET=LX2160A_CEX7_HONEYCOMB_${serdes} ./runme.sh
            done; done; done

            # lx2160-cex7 clearfog-cx configurations
            for serdes in 4_5_2 8_5_2 18_5_2 20_5_2; do for ddr in 2400 2600 2900; do for cpu in 1 2; do
            env SHALLOW=true BOOTSOURCE=auto BUS_SPEED=700 CPU_REVISION=$cpu CPU_SPEED=2000 DDR_SPEED=$ddr TARGET=LX2160A_CEX7_CLEARFOG-CX_${serdes} ./runme.sh
            done; done; done

            # lx2160-cex7 clearfog-cx configurations without auto-boot
            for serdes in 18_5_2; do for ddr in 2400 2600 2900; do for cpu in 1 2; do for boot in sdhc1 sdhc2 xspi; do
            env SHALLOW=true BOOTSOURCE=$boot BUS_SPEED=700 CPU_REVISION=$cpu CPU_SPEED=2000 DDR_SPEED=$ddr TARGET=LX2160A_CEX7_CLEARFOG-CX_${serdes} ./runme.sh
            done; done; done; done

            # lx2160-cex7 twins configurations
            env SHALLOW=true BOOTSOURCE=auto BUS_SPEED=700 CPU_REVISION=2 CPU_SPEED=2000 DDR_SPEED=2900 TARGET=LX2160A_CEX7_HALF-TWINS_8S_9_2 ./runme.sh

            # lx2162-som clearfog configurations
            env SHALLOW=true BOOTSOURCE=auto BUS_SPEED=650 CPU_REVISION=2 CPU_SPEED=2000 DDR_SPEED=2900 TARGET=LX2162A_SOM_CLEARFOG_18_9_0 ./runme.sh

            # lx2160-cex6 evb configurations
            env SHALLOW=true BOOTSOURCE=auto BUS_SPEED=700 CPU_REVISION=2 CPU_SPEED=2000 DDR_SPEED=2900 TARGET=LX2160A_CEX6_EVB_3_3_2 ./runme.sh

      - name: Select artifacts for publishing
        shell: bash -e {0}
        run: |
            mkdir deploy
            cp -L images/dpdk-*.tar deploy/
            cp -L images/linux-*.tar deploy/
            cp -L images/linux-headers-*.tar deploy/
            cp -L images/*.img deploy/
            find deploy -maxdepth 1 -type f -print0 | xargs -0 -n 1 -P 0 echo xz -9 -T 0
            ls -lh deploy

      - name: Store local storage path for this build
        id: store_path
        run: |
          echo "local_artifacts_path=${{ github.repository_id }}/${{ needs.info.outputs.build_tag }}" >> "$GITHUB_OUTPUT"

      - name: Deploy to the local minio storage
        uses: yakubique/minio-upload@v1.1.3
        with:
          endpoint: http://ciserver.ci:9000
          insecure: true
          access_key: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secret_key: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cipublish
          source: ./deploy/
          target: "/${{ steps.store_path.outputs.local_artifacts_path }}"
          recursive: true

  publish_images:
    needs:
      - info
      - build
    runs-on: self-hosted
    if: github.ref == 'refs/heads/develop-ls-6.6.52-2.2.0' && github.event_name != 'pull_request'
    steps:
      - name: Download an artifacts from MinIO
        uses: yakubique/minio-download@v1.1.1
        with:
          endpoint: http://ciserver.ci:9000
          insecure: true
          access_key: ${{ secrets.CI_CACHE_MINIO_ACCESS }}
          secret_key: ${{ secrets.CI_CACHE_MINIO_SECRET }}
          bucket: cipublish
          source: "/${{ needs.build.outputs.local_artifacts_path }}/"
          target: "./deploy"
          recursive: true

      - name: Upload to S3
        uses: shallwefootball/upload-s3-action@v1.3.3
        with:
          aws_key_id: ${{ secrets.IMAGES_S3_ACCESS }}
          aws_secret_access_key: ${{ secrets.IMAGES_S3_SECRET }}
          aws_bucket: ${{ secrets.IMAGES_S3_BUCKET }}
          endpoint: ${{ secrets.IMAGES_S3_HOST }}
          source_dir: deploy
          destination_dir: LX2k/lx2160a_build/ls-6.6.52-2.2.0/${{ needs.info.outputs.build_tag }}

  test_images:
    name: Test on Hardware
    needs:
      - info
      - build
    runs-on: self-hosted
    timeout-minutes: 90

    steps:
      - name: Generate Temporary Image Download URLs
        id: dl_url
        shell: bash {0}
        run: |
          echo "lx2162_som_multi_url=http://ciserver.ci:8000/cipublish/${{ needs.build.outputs.local_artifacts_path }}/lx2162a_rev2_som_clearfog_multi_2000_650_2900_18_9_0-${{ needs.info.outputs.build_rev }}.img.xz" >> "$GITHUB_OUTPUT"

      - name: Checkout LAVA action
        uses: actions/checkout@v4
        with:
          repository: SolidRun/lava-test-definitions
          path: .lava-action
          ssh-key: ${{ secrets.LAVA_ACTION_SECRET }}

      - name: Test Images on LAVA
        id: submit
        uses: ./.lava-action/.github/actions/lava-submit
        with:
          server: 192.168.15.184
          port: 8001
          timeout: 36000
          jobs: |
            [
              {
                "device_type": "lx2162a-solidrun",
                "tags": [],
                "image_url": "${{ steps.dl_url.outputs.lx2162_som_multi_url }}",
                "description": "LX2162A Ubuntu - lx2160a_build/${{ needs.info.outputs.build_ref }} (${{ needs.info.outputs.build_rev }})",
                "compression": "xz",
                "all_devices": false
              }
            ]
